body {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

header, div {
    text-align: center;
}

header {
    color: #FFFFFF;
    text-shadow: 1px 1px 1px #000000;
}

section {
    margin: 0 auto;
    background-color: white;
    width: 400px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 2px 2px 2px #000000;
}

#resultado {
    margin: 10px 0;
}

.manha {
    background-color: #c5d2b8;
}

.tarde {
    background-color: #fec29d;
}

.noite {
    background-color: #192a31;
}